<html>
<head>
<meta charset="UTF-8">
<title>Twitter API Test (JS)</title>
<link rel="stylesheet" href="1.css" type="text/css">
<link rel="stylesheet" href="reset.min.css" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="application/javascript">
/*

$(document).ready(function(){
	var appendHTML = "";
    $.getJSON("http://127.0.0.1:3000/show_data", function(data){
        $.each(data, function(i,item){
            var txt = item.text
                .replace(/(https?:\/\/[-a-z0-9._~:\/?#@!$&\'()*+,;=%]+)/ig,'<a href="$1">$1</a>')
                .replace(/@+([_A-Za-z0-9-]+)/ig, '<a href="https://twitter.com/$1">@$1</a>')
                .replace(/#+([_A-Za-z0-9-]+)/ig, '<a href="https://twitter.com/search?q=$1">#$1</a>');
			
			appendHTML +=
			"<article class='tweet'>"+
				"<header class='user_profile'>"+
					"<a class='user_name' href='https://twitter.com/"+
					item.user.screen_name+"'>@"+item.user.screen_name+"&nbsp;/&nbsp;"+item.user.name+
					"</a>"+
				"<header>"+
			    "<p class='text'>"+txt+"</p>"+
			"</article>";
        });
    });
	$(".sec_tweets").append(appendHTML);
	$(".tweet").css("background","#FF0");
});
*/
</script>

</head>

<body>

<div class="wrapper">
    <header class="top"><h1 class="title"><a href="#">てすとさん</a>'s Timeline</h1></header>
    <section class="sec_tweets">
        <article class='tweet'>
            <header class='user_profile'>
                <a class='user_name' href='https://twitter.com/
                item.user.screen_name'>@testteste&nbsp;/&nbsp;てすとさん
                </a>
            <header>
            <p class='text'>あああああああああああああああああああ</p>
        </article>
                <article class='tweet'>
            <header class='user_profile'>
                <a class='user_name' href='https://twitter.com/
                item.user.screen_name'>@testteste&nbsp;/&nbsp;てすとさん
                </a>
            <header>
            <p class='text'>あああああああああああああああああああ</p>
        </article>
                <article class='tweet'>
            <header class='user_profile'>
                <a class='user_name' href='https://twitter.com/
                item.user.screen_name'>@testteste&nbsp;/&nbsp;てすとさん
                </a>
            <header>
            <p class='text'>あああああああああああああああああああ&quot;&quot;</p>
        </article>
     </section>
</div>

</body>
</html>
